.results {
    font-family: var(--open);
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    h3 {
        font-size: var(--head3);
        margin-bottom: 1rem;
        text-align: center;
    }
    ul {
        list-style: none;
    }
}