.container {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: var(--open);
    .title {
        font-weight: 700;
        font-size: var(--head1);
        font-family: var(--open);
        text-align: center;
        margin-top: 2rem;
    }
    .calculateButton {
        margin: 0 auto;
        padding: 0.8rem 3rem;
        background-color: var(--blue);
        color: white;
        font-family: var(--open);
        font-size: var(--button);
        font-weight: 700;
    }
}